[defaults]

# Define o caminho padrão para o inventário do Ansible.
inventory = ./inventory/wsl.yml
# Melhora a legibilidade da saída no terminal, deixando-a colorida e organizada.
stdout_callback = community.general.yaml
# Define o caminho padrão para as roles.
roles_path = ./roles
# Desabilita a criação de arquivos de "tentativa novamente" (.retry) que poluem a pasta
retry_files_enabled = false

[privilege_escalation]
# Faz com que o Ansible sempre peça a senha de administrador (sudo)
# Assim, não precisa mais digitar '--ask-become-pass' toda vez.
become_ask_pass = true
